body h1 {
    text-align: center;
    margin: 6px;
}

.chart {
    margin: auto;
    width: 800px;
    height: 400px;
}

.about-data {
    padding: 30px;
    text-align: center;
}

.iss {
    background-color:aliceblue;
}

#myMap { 
    height: 180px; 
    margin: 6px;
}

.info {
    margin: 6px;
    font-size: 20px;
}

#moodText {
    font-size: 20px;
    width: 40%;
    padding: 4px 6px;
}

#btnSendInfo {
    font-size: 20px;
    padding: 4px 6px;
}

#formInfo {
    display: inline-block;
}